body {
  background-color: #c3c3c3a1;
  height: 100%;
  width: 100%;
}

#q-app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-weight: normal;
}

/* const colors = { 'I': '#92cba3', 'II': '#cae6c6', 'III': '#92bbd7', 'IV': '#f8d1ae', 'V': '#f97a79', 'VI': '#d8d8d7' }; */
.text-legend-1 {
  color: #92cba3 !important;
}
.bg-legend-1 {
  background: #92cba3 !important;
}

.text-legend-2 {
  color: #cae6c6 !important;
}
.bg-legend-2 {
  background: #cae6c6 !important;
}

.text-legend-3 {
  color: #92bbd7 !important;
}
.bg-legend-3 {
  background: #92bbd7 !important;
}

.text-legend-4 {
  color: #f8d1ae !important;
}
.bg-legend-4 {
  background: #f8d1ae !important;
}

.text-legend-5 {
  color: #f97a79 !important;
}
.bg-legend-5 {
  background: #f97a79 !important;
}

.text-legend-6 {
  color: #d8d8d7 !important;
}
.bg-legend-6 {
  background: #d8d8d7 !important;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.info {
  background-color: #ffbd0033;
  border-left: 0.5rem solid #e7800a;
}

/*
.grid-container {
  padding: 3.75%;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.grid-container > div {
  background-color: RoyalBlue;
  padding: 10px;
}

@media only screen and (min-width: 981px) {
  .grid_items {
    grid-template-columns: 30% 30% 30%;
    grid-row-gap: 50px;
  }
  .grid_items > div {
    padding: 30px;
  }
}
*/