@media print {
  
    .no-print, .no-print * {
        display: none !important;
    }
    
    body {
        background-color: red;
    }

    table {
        -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
        print-color-adjust: exact;         /* Firefox 97+, Safari 15.4+ */
        page-break-inside: avoid;
    }

    .text-h5 { 
        page-break-before: always;
      }
      
}

@page {
    size:A4 portrait;
    margin: 1cm;
  }