@media print {
    body {
        background-color: red;
    }

    #map {
        display: none;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
      
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    #print-btn {
        display:none;
    }
      
}

@page {
    margin: 2cm;
  }