table {
    border-collapse: collapse;
    border: none;
}

th {
    border: none;
    background-color: #455a64;
    color: white
}

tr {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

tr:last-child {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

td {
    border: none !important;
}


.blue-table {
    border-collapse: collapse;
    border: none;
}
